/* Font - Rubik. */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* Font - Open Sans. */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



/* Variables fonts. */ 
:root{
    /* Familys. */
    --font-family-titles: 'Rubik', 'Sans-serif', 'Poppins', 'Serif', 'Arial';
    --font-family-general: 'Open Sans', 'Sans-serif', 'Poppins', 'Serif', 'Arial';
    
    /* Sizes. */
    --font-size-title: 4rem;
    --font-size-subtitle: 2rem;
    --font-size-general: 1.2rem;
    --font-size-instructions: 1rem;

    /* Colors. */
    --color-header: #121212;
    --color-main: #ffffff;
}

/* Background. */ 
:root{
    /* Colors. */
    --color-background-header: #bf9df7;
    --color-background-mian-page: #202636;
}

/* Variables text. */ 
:root{
    /* Colors. */
    --color-background: #bbbbbb;
    --color-background-calculator: #f0ffff;
}