/* Reseteo de todos los estilos dados por el navegador en uso defecto. */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales para toda la página. */
body{
  height: 100%;
  width: auto;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  margin: 0 auto; /* Centra el bloque respecto al navegador. */
}

/* Estilos para el apartado "main". */
header{
  height: 100%;
  width: 100%;
  margin-top: 15px;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para el apartado "main". */
main{
  height: 100%;
  width: 100%;
  margin: 20px 0px;
}

/* Estilos para el apartado "footer". */
footer{
  height: 100%;
  width: 100%;
  margin: 15px 0px;
  padding: 10px 0px;
  border-top: 3px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Ajustes para la tabla. */
table{
  margin: 0 auto;
  border-collapse: collapse; /* La propiedad "border-collapse: collapse" hace que los bordes de las celdas de la tabla se fusionen en uno solo, eliminando el espacio entre ellos. */
}

/* Color para las celdas o líneas separadoras entre las casillas. */
th, td{
  border: 1px solid #d5d5d5;
  padding: 7px;
}

/* Estilo/Color para la cabcera o leyenda de la tabla. */
th{
  background-color: #c80000;
  color: white;
}

/* Estilos negrita para el primer y segundo elemento de la tabla. */
td:nth-child(1), td:nth-child(2){
  font-weight: bold;
}

/* Color para los puestos de clasificación al torneo 'Champions League'. */
tr.champions{
  background-color: #afc3dc; /* #87cdfc */
}
/* Color para los puestos de clasificación al torneo 'Europa League'. */
tr.europa{
  background-color: #ffa078;
}

/* Color para los puestos de clasificación al torneo 'Conference League'. */
tr.conference{
  background-color: #8ceb8c;
}

/* Color para los puestos de descenso. */
tr.descenso{
  background-color: #e68282;
}

/* Estilo para los encabezados, "h2"; y párrafos, "p". */
h2, p{
  color: var(--color);
}

/* Estilo para los encabezados, "h2". */
h2{
  font-size: 24px;
  font-weight: 600;
  font-family: var(--font-family-titles);
  font-size: var(--font-size-title);
}

/* Estilo para los párrafos, "p"; y enlaces, "p". */
p, a{
  font-family: var(--font-family-general);
  font-size: var(--font-size-general);
}

/* Estilo para los enlaces, "a". */
a{
  text-decoration: none;
  padding: 5px;
}

p{
  padding: 5px 0px 0px 15px;
}